<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobeTreker</title>
 </head> // comented here b/c here we use ejs-mate which work as boilercode for this page -->
<% layout("/layouts/boilerplate") %> <!-- Using ejs-mate layout and needs-vailidation logic is under public folder in js file which is use in validation for server side in liating and reviews -->
    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3><%= listing.title %>:</h3>
            </div>
            <div class="card col-6 offset-2 show-card listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top show-image" alt="listing-image">

                <div class="card-body">
                    <p class="card-text">
                         <Owned class="card-text">Owned By: <%= listing.owner.username %></p>
                            <%= listing.description %>
                        <br />
                            <% if (listing.price !=null && typeof listing.price==="number" ) { %>
                                &#8377;<%= listing.price.toLocaleString("en-IN") %>
                            <% } 
                                else { %>
                                    <li>Price not available</li>
                            <% } %>
                        <br />
                                <%= listing.location %>
                        <br />
                                <%= listing.country %>
                        <br />
                    </p>
                </div>
            </div>
            <br />
            <%#if(currUser && currUser._id.equals(listing.owner._id)){ we removed it because anyone can bypass it using postman or hoppscotch and send dirct request to route and get access so we put login in route %>
            <div class="btns mb-5">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark offset-3 edit-btn">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-4">Delete</button>
                </form>
            </div> 
            <%#}%>

            <%if(currUser){%>
            <div class="col-8 offset-2 mb-3">
                <hr/>
                <h4>Leave a Review</h4>         
                <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">                     
                    <div class="mb-3 mt-3">                        
                    <label for="rating" class="form-lable">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="reviews[rating]" class="form-range">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-lable">Comments</label>
                        <textarea name="reviews[comment]" id="comment" cols="20" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please write some reviews</div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
                <%}%>
                <hr/>
                <p><b>All Reviews</b></p>
<div class="row">
    <% for (review of listing.reviews) { %>
    <div class="card col-5 mb-3">                    
        <div class="card-body">
            <h5 class="card-title">@<%=review.author.username%></h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><%= review.rating %> Stars</p>
        </div>
        <form class="mt-2 mb-2" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-dark">Delete</button>
        </form>
    </div>
    <% } %>
</div>
          
            </div>
        </div>
    </body>

    <!-- </html> --> 